#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [2]:
path_users_table="C:\\Users\\joaop\\OneDrive\\Documents\\GitHub\\lab-data-cleaning\\your-code\\users_table.csv"
users_table=pd.read_csv(path_users_table)
print(users_table)

          Id  Reputation         CreationDate     DisplayName  \
0         -1           1  2010-07-19 06:55:26       Community
1          2         101  2010-07-19 14:01:36    Geoff Dalgas
2          3         101  2010-07-19 15:34:50    Jarrod Dixon
3          4         101  2010-07-19 19:03:27          Emmett
4          5        6792  2010-07-19 19:03:57           Shane
...      ...         ...                  ...             ...
40320  55743           1  2014-09-13 21:03:50       AussieMeg
40321  55744           6  2014-09-13 21:39:30       Mia Maria
40322  55745         101  2014-09-13 23:45:27    tronbabylove
40323  55746         106  2014-09-14 00:29:41             GPP
40324  55747           1  2014-09-14 01:01:44  Shivam Agrawal

            LastAccessDate                      WebsiteUrl  \
0      2010-07-19 06:55:26  http://meta.stackexchange.com/
1      2013-11-12 22:07:23        http://stackoverflow.com
2      2014-08-08 06:42:58        http://stackoverflow.com
3      2014-01-02 09:31:02    http://minesweeperonline.com
4      2014-08-13 00:23:47         http://www.statalgo.com
...                    ...                             ...
40320  2014-09-13 21:18:52                             NaN
40321  2014-09-13 21:39:30                             NaN
40322  2014-09-13 23:45:27                             NaN
40323  2014-09-14 02:05:17                             NaN
40324  2014-09-14 01:19:04                             NaN

                 Location                                            AboutMe  \
0      on the server farm  <p>Hi, I'm not really a person.</p>\r\n\r\n<p>...
1           Corvallis, OR  <p>Developer on the StackOverflow team.  Find ...
2            New York, NY  <p><a href="http://blog.stackoverflow.com/2009...
3       San Francisco, CA  <p>currently at a startup in SF</p>\r\n\r\n<p>...
4            New York, NY  <p>Quantitative researcher focusing on statist...
...                   ...                                                ...
40320                 NaN                                                NaN
40321                 NaN                                                NaN
40322       United States                                                NaN
40323                 NaN  <p>Stats noobie, product, marketing &amp; medi...
40324               India                       <p>Maths Enthusiast </p>\r\n

       Views  UpVotes  DownVotes  AccountId   Age  \
0          0     5007       1920         -1   NaN
1         25        3          0          2  37.0
2         22       19          0          3  35.0
3         11        0          0       1998  28.0
4       1145      662          5      54503  35.0
...      ...      ...        ...        ...   ...
40320      0        0          0    5026902   NaN
40321      1        0          0    5026998   NaN
40322      0        0          0     481766   NaN
40323      1        0          0     976289   NaN
40324      0        0          0    5027354   NaN

                                         ProfileImageUrl
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                     http://i.stack.imgur.com/d1oHX.jpg
4                                                    NaN
...                                                  ...
40320  http://graph.facebook.com/665821703/picture?ty...
40321                                                NaN
40322  https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323  https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324  https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

[40325 rows x 14 columns]

#### 3. Rename Id column to userId

In [3]:
users_table.rename(columns = {'Id':'userId'}, inplace = True)
print(users_table)

       userId  Reputation         CreationDate     DisplayName  \
0          -1           1  2010-07-19 06:55:26       Community
1           2         101  2010-07-19 14:01:36    Geoff Dalgas
2           3         101  2010-07-19 15:34:50    Jarrod Dixon
3           4         101  2010-07-19 19:03:27          Emmett
4           5        6792  2010-07-19 19:03:57           Shane
...       ...         ...                  ...             ...
40320   55743           1  2014-09-13 21:03:50       AussieMeg
40321   55744           6  2014-09-13 21:39:30       Mia Maria
40322   55745         101  2014-09-13 23:45:27    tronbabylove
40323   55746         106  2014-09-14 00:29:41             GPP
40324   55747           1  2014-09-14 01:01:44  Shivam Agrawal

            LastAccessDate                      WebsiteUrl  \
0      2010-07-19 06:55:26  http://meta.stackexchange.com/
1      2013-11-12 22:07:23        http://stackoverflow.com
2      2014-08-08 06:42:58        http://stackoverflow.com
3      2014-01-02 09:31:02    http://minesweeperonline.com
4      2014-08-13 00:23:47         http://www.statalgo.com
...                    ...                             ...
40320  2014-09-13 21:18:52                             NaN
40321  2014-09-13 21:39:30                             NaN
40322  2014-09-13 23:45:27                             NaN
40323  2014-09-14 02:05:17                             NaN
40324  2014-09-14 01:19:04                             NaN

                 Location                                            AboutMe  \
0      on the server farm  <p>Hi, I'm not really a person.</p>\r\n\r\n<p>...
1           Corvallis, OR  <p>Developer on the StackOverflow team.  Find ...
2            New York, NY  <p><a href="http://blog.stackoverflow.com/2009...
3       San Francisco, CA  <p>currently at a startup in SF</p>\r\n\r\n<p>...
4            New York, NY  <p>Quantitative researcher focusing on statist...
...                   ...                                                ...
40320                 NaN                                                NaN
40321                 NaN                                                NaN
40322       United States                                                NaN
40323                 NaN  <p>Stats noobie, product, marketing &amp; medi...
40324               India                       <p>Maths Enthusiast </p>\r\n

       Views  UpVotes  DownVotes  AccountId   Age  \
0          0     5007       1920         -1   NaN
1         25        3          0          2  37.0
2         22       19          0          3  35.0
3         11        0          0       1998  28.0
4       1145      662          5      54503  35.0
...      ...      ...        ...        ...   ...
40320      0        0          0    5026902   NaN
40321      1        0          0    5026998   NaN
40322      0        0          0     481766   NaN
40323      1        0          0     976289   NaN
40324      0        0          0    5027354   NaN

                                         ProfileImageUrl
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                     http://i.stack.imgur.com/d1oHX.jpg
4                                                    NaN
...                                                  ...
40320  http://graph.facebook.com/665821703/picture?ty...
40321                                                NaN
40322  https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323  https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324  https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

[40325 rows x 14 columns]

#### 4. Import posts table:

In [4]:
path_posts_table="C:\\Users\\joaop\\OneDrive\\Documents\\GitHub\\lab-data-cleaning\\your-code\\posts_table.csv"
posts_table=pd.read_csv(path_posts_table)
print(posts_table)

          Id  PostTypeId  AcceptedAnswerId          CreaionDate  Score  \
0          1           1              15.0  2010-07-19 19:12:12     23
1          2           1              59.0  2010-07-19 19:12:57     22
2          3           1               5.0  2010-07-19 19:13:28     54
3          4           1             135.0  2010-07-19 19:13:31     13
4          5           2               NaN  2010-07-19 19:14:43     81
...      ...         ...               ...                  ...    ...
39995  48321           2               NaN  2013-01-23 09:00:01      0
39996  48322           2               NaN  2013-01-23 09:09:34      3
39997  48323           2               NaN  2013-01-23 09:16:44      1
39998  48324           2               NaN  2013-01-23 09:36:07      3
39999  48325           1               NaN  2013-01-23 09:44:07     -1

       ViewCount                                               Body  \
0         1278.0  <p>How should I elicit prior distributions fro...
1         8198.0  <p>In many different statistical methods there...
2         3613.0  <p>What are some valuable Statistical Analysis...
3         5224.0  <p>I have two groups of data.  Each with a dif...
4            NaN  <p>The R-project</p>\n\n<p><a href="http://www...
...          ...                                                ...
39995        NaN  <p>you can use the matlab codes for svm and co...
39996        NaN  <p>I use <a href="http://www.gnu.org/software/...
39997        NaN  <p>If I understand your question correctly, yo...
39998        NaN  <p>Doesn't really help you with your question,...
39999      116.0  <p>I have 10 vectors each having 100,000 point...

       OwnerUserId      LasActivityDate  \
0              8.0  2010-09-15 21:08:26
1             24.0  2012-11-12 09:21:54
2             18.0  2013-05-27 14:48:36
3             23.0  2010-09-08 03:00:19
4             23.0  2010-07-19 19:21:15
...            ...                  ...
39995      19966.0  2013-01-23 09:00:01
39996        892.0  2013-01-23 13:13:30
39997       2020.0  2013-01-23 09:16:44
39998      19914.0  2013-01-23 09:36:07
39999      19968.0  2013-02-22 11:23:54

                                                   Title  ... AnswerCount  \
0                          Eliciting priors from experts  ...         5.0
1                                     What is normality?  ...         7.0
2      What are some valuable Statistical Analysis op...  ...        19.0
3      Assessing the significance of differences in d...  ...         5.0
4                                                    NaN  ...         NaN
...                                                  ...  ...         ...
39995                                                NaN  ...         NaN
39996                                                NaN  ...         NaN
39997                                                NaN  ...         NaN
39998                                                NaN  ...         NaN
39999  are data sets obtained from a Normal distribut...  ...         2.0

       CommentCount  FavoriteCount  LastEditorUserId         LastEditDate  \
0                 1           14.0               NaN                  NaN
1                 1            8.0              88.0  2010-08-07 17:56:44
2                 4           36.0             183.0  2011-02-12 05:50:03
3                 2            2.0               NaN                  NaN
4                 3            NaN              23.0  2010-07-19 19:21:15
...             ...            ...               ...                  ...
39995             0            NaN               NaN                  NaN
39996             2            NaN             892.0  2013-01-23 13:13:30
39997             0            NaN               NaN                  NaN
39998             0            NaN               NaN                  NaN
39999             4            NaN               NaN                  NaN

        CommunityOwnedDate ParentId  ClosedDate OwnerDisplayName  \
0                      NaN      NaN         NaN              NaN
1                      NaN      NaN         NaN              NaN
2      2010-07-19 19:13:28      NaN         NaN              NaN
3                      NaN      NaN         NaN              NaN
4      2010-07-19 19:14:43      3.0         NaN              NaN
...                    ...      ...         ...              ...
39995                  NaN  45118.0         NaN              NaN
39996                  NaN  48311.0         NaN              NaN
39997                  NaN  48247.0         NaN              NaN
39998                  NaN  48297.0         NaN              NaN
39999                  NaN      NaN         NaN              NaN

      LastEditorDisplayName
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
39995                   NaN
39996                   NaN
39997                   NaN
39998                   NaN
39999                   NaN

[40000 rows x 21 columns]

#### 5. Rename Id column to postId and OwnerUserId to userId

In [5]:
posts_table.rename(columns = {'Id':'postId','OwnerUserId':'userId'}, inplace = True)
print(posts_table)

       postId  PostTypeId  AcceptedAnswerId          CreaionDate  Score  \
0           1           1              15.0  2010-07-19 19:12:12     23
1           2           1              59.0  2010-07-19 19:12:57     22
2           3           1               5.0  2010-07-19 19:13:28     54
3           4           1             135.0  2010-07-19 19:13:31     13
4           5           2               NaN  2010-07-19 19:14:43     81
...       ...         ...               ...                  ...    ...
39995   48321           2               NaN  2013-01-23 09:00:01      0
39996   48322           2               NaN  2013-01-23 09:09:34      3
39997   48323           2               NaN  2013-01-23 09:16:44      1
39998   48324           2               NaN  2013-01-23 09:36:07      3
39999   48325           1               NaN  2013-01-23 09:44:07     -1

       ViewCount                                               Body   userId  \
0         1278.0  <p>How should I elicit prior distributions fro...      8.0
1         8198.0  <p>In many different statistical methods there...     24.0
2         3613.0  <p>What are some valuable Statistical Analysis...     18.0
3         5224.0  <p>I have two groups of data.  Each with a dif...     23.0
4            NaN  <p>The R-project</p>\n\n<p><a href="http://www...     23.0
...          ...                                                ...      ...
39995        NaN  <p>you can use the matlab codes for svm and co...  19966.0
39996        NaN  <p>I use <a href="http://www.gnu.org/software/...    892.0
39997        NaN  <p>If I understand your question correctly, yo...   2020.0
39998        NaN  <p>Doesn't really help you with your question,...  19914.0
39999      116.0  <p>I have 10 vectors each having 100,000 point...  19968.0

           LasActivityDate                                              Title  \
0      2010-09-15 21:08:26                      Eliciting priors from experts
1      2012-11-12 09:21:54                                 What is normality?
2      2013-05-27 14:48:36  What are some valuable Statistical Analysis op...
3      2010-09-08 03:00:19  Assessing the significance of differences in d...
4      2010-07-19 19:21:15                                                NaN
...                    ...                                                ...
39995  2013-01-23 09:00:01                                                NaN
39996  2013-01-23 13:13:30                                                NaN
39997  2013-01-23 09:16:44                                                NaN
39998  2013-01-23 09:36:07                                                NaN
39999  2013-02-22 11:23:54  are data sets obtained from a Normal distribut...

       ... AnswerCount  CommentCount  FavoriteCount  LastEditorUserId  \
0      ...         5.0             1           14.0               NaN
1      ...         7.0             1            8.0              88.0
2      ...        19.0             4           36.0             183.0
3      ...         5.0             2            2.0               NaN
4      ...         NaN             3            NaN              23.0
...    ...         ...           ...            ...               ...
39995  ...         NaN             0            NaN               NaN
39996  ...         NaN             2            NaN             892.0
39997  ...         NaN             0            NaN               NaN
39998  ...         NaN             0            NaN               NaN
39999  ...         2.0             4            NaN               NaN

              LastEditDate   CommunityOwnedDate ParentId  ClosedDate  \
0                      NaN                  NaN      NaN         NaN
1      2010-08-07 17:56:44                  NaN      NaN         NaN
2      2011-02-12 05:50:03  2010-07-19 19:13:28      NaN         NaN
3                      NaN                  NaN      NaN         NaN
4      2010-07-19 19:21:15  2010-07-19 19:14:43      3.0         NaN
...                    ...                  ...      ...         ...
39995                  NaN                  NaN  45118.0         NaN
39996  2013-01-23 13:13:30                  NaN  48311.0         NaN
39997                  NaN                  NaN  48247.0         NaN
39998                  NaN                  NaN  48297.0         NaN
39999                  NaN                  NaN      NaN         NaN

      OwnerDisplayName LastEditorDisplayName
0                  NaN                   NaN
1                  NaN                   NaN
2                  NaN                   NaN
3                  NaN                   NaN
4                  NaN                   NaN
...                ...                   ...
39995              NaN                   NaN
39996              NaN                   NaN
39997              NaN                   NaN
39998              NaN                   NaN
39999              NaN                   NaN

[40000 rows x 21 columns]

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [6]:
#one way to do this is by concatenating:
new_users_df=pd.concat([users_table['userId'],users_table['Reputation'],users_table['Views'],users_table['UpVotes'],users_table['DownVotes']])

#the most efficient way is this:
new_users_df=users_table.loc[:,['userId','Reputation','Views','UpVotes','DownVotes']]
print(new_users_df)

new_posts_df=posts_table.loc[:,['postId','Score','userId','ViewCount','CommentCount']]
print(new_users_df)

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]
       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [7]:
merged_df=pd.merge(new_users_df,new_posts_df)
print(merged_df)

       userId  Reputation  Views  UpVotes  DownVotes  postId  Score  \
0          -1           1      0     5007       1920    2175      0
1          -1           1      0     5007       1920    8576      0
2          -1           1      0     5007       1920    8578      0
3          -1           1      0     5007       1920    8981      0
4          -1           1      0     5007       1920    8982      0
...       ...         ...    ...      ...        ...     ...    ...
38957   45934          11      1        0          0   34003      1
38958   46192          36      1        0          0   40667      5
38959   46522         235     13       27          1   17461      3
38960   52371         221      2        0          0   27237     24
38961   55226         119      2        3          0   16176      1

       ViewCount  CommentCount
0            NaN             0
1            NaN             0
2            NaN             0
3            NaN             0
4            NaN             0
...          ...           ...
38957      115.0             2
38958      326.0             2
38959      166.0             0
38960     3357.0             5
38961        NaN             0

[38962 rows x 9 columns]

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [8]:
column_null=merged_df.isnull().sum()

#here is how we can find the values of the columns that have some missing values
for i in column_null:
    if i!=0:
        print(i)
        
#here are the names of the columns that have some missing values
for i in range(len(column_null)):
    if column_null[i]!=0:
        print(column_null.index[i])

23572
ViewCount

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [9]:
#to fill them we use the fillna method
#to clean or drop them we use the dropna method
#   Since there seem to be too many rows that are have missing values [half of this column has missing values,
#   I'd say the best approach is to fill them with 0 

merged_df[['ViewCount']] = merged_df[['ViewCount']].fillna(0)

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [10]:
merged_df.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [11]:
#from my point of view I'd say that viewcount should be a an int64

merged_df['ViewCount'] = merged_df['ViewCount'].astype(int)
merged_df.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int32
CommentCount    int64
dtype: object